<div class="bodyContainer">
  <div class="row">    
    <h6>search patient</h6>
    <div class="col-sm-4">
      <app-search-func (textEntered)="textRecieved($event)"></app-search-func>
    </div>
    <div class="col-sm-8">
      <app-search-result [textRecieve]="textRecieve"></app-search-result>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="buttonDiv">
          <button style="margin-right: 1rem;">&#x2713;ok</button>
          <button>&#10060;cancel</button>
      </div>
    </div>
  </div>
</div>